body {
  color: white;
  background-color: black;
  margin: 0px 0px 0px 0px;
  font-family: monospace;
  font-size: xx-large;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body pre {
  display: block;
  white-space: pre;
  margin: 0px 0px 0px 0px;
  border: 1px solid white;
  overflow: hidden;
  width: 50vw;
  height: 50vw;
}